@{
    ViewData["Title"] = "Sales Page";
}
<div class="p-2">
    <h2>Sales</h2>
    <div class="text-end">
        <a asp-controller="Sale" asp-action="Create" class="bg-success d-inline-block text-white px-5 py-2 border-0 rounded me-3 text-decoration-none">
            Create
        </a>
    </div>
</div>